naftiko: "0.3"
info:
  name: "{{capabilityName}}"
  description: "Business description of your pass thru capability"
capability:
  exposes:
  - type: http
    port: {{port}}
  consumes:
  - type: http
    targetUri: "{{{targetUri}}}"
