{
  "naftiko": "0.3",
  "info": {
    "name": "{{capabilityName}}",
    "description": "Business description of your pass thru capability"
  },
  "capability": {
    "exposes": [
      {
        "type": "rest",
        "port": {{port}},
        "functions": [
          {
            "id": "get-user",
            "name": "Get User",
            "method": "GET",
            "path": "users/{{username}}",
            "steps": [
              {
                "call": "github.get-user"
              }
            ]
          }
        ]
      }
    ],
    "consumes": [
      {
        "type": "http",
        "targetUri": "{{{targetUri}}}",
        "functions": [
          {
            "id": "get-user",
            "name": "Get User",
            "method": "GET",
            "path": "users/{{username}}"
          }
        ]
      }
    ]
  }
}
