name: Validate JSON Structure Schema

on:
  push:
    paths:
      - 'src/main/resources/schema/**'
      - '!src/main/resources/schema/examples/**'

jobs:
  validate-schema:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install and run jstruct
        run: |
          curl -fL  https://github.com/json-structure/sdk/releases/download/jstruct-v0.5.5/jstruct_0.5.5_amd64.deb -o /tmp/jstruct.deb
          sudo dpkg -i /tmp/jstruct.deb
          jstruct check src/main/resources/schemas/capability-schema.json
